<!bootstrap-3.3.6/docs/DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../bootstrap-3.3.6/docs/favicon.ico">

    <title>Protein Complexes Maps: About</title>

    <link href="../static/styles/test.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/styles//bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="../static/styles//bootstrap-theme.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/styles/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/styles/theme.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/frontpage">Protein Complex Maps</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/frontpage">Maps</a></li>
            <li class="active"><a href="#about">About</a></li>
            <!--
            <li><a href="download">Download</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
            -->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Protein Complex Maps</h1>
        <p> 
            Protein Complex Maps
        </p>
      </div>


      <div class="page-header">
        <h1>About</h1>
      </div>
      <p>
      Protein Complex Maps is a collection of resources aimed at identifying and characterizing protein complexes from a variety of organisms. 
      </p>
      <br>
      <h4>Contributers</h4>
      <p>
      &nbsp Kevin Drew (<a href="http://ksdrew.github.io/" target="_blank">website</a>)
      &nbsp Anna Mallam (<a href="https://scholar.google.com/citations?user=du9elLgAAAAJ&hl=en" target="_blank">website</a>)
      &nbsp Claire McWhite (<a href="https://clairemcwhite.github.io/" target="_blank">website</a>)
      &nbsp Edward Marcotte (<a href="http://marcottelab.org/" target="_blank">website</a>)
      <br>

      </p>
      <h4>Funding</h4>
      <p>
      &nbsp NIH R00, NSF/BBSRC, NIH F32 GM112495  
      </p>

      <h4>Citations</h4>
      <ul>
          <li>
		  <strong> hu.MAP3.0: </strong> <a href="https://www.biorxiv.org/content/10.1101/2024.10.11.617930v1" target="_blank">
			 Samantha N. Fischer, Erin R Claussen, Savvas Kourtis, Sara Sdelci, Sandra Orchard, Henning Hermjakob, Georg Kustatscher, Kevin Drew
			 <strong>hu.MAP3.0: Atlas of human protein complexes by integration of > 25,000 proteomic experiments</strong>
			 BioRxiv https://doi.org/10.1101/2024.10.11.617930
		</a>
		  
          </li>
          <li><strong> hu.MAP2.0: </strong> <a href="https://www.embopress.org/doi/full/10.15252/msb.202010016" target="blank">
		Kevin Drew, John B. Wallingford, Edward M. Marcotte
		<strong>hu.MAP 2.0: integration of over 15,000 proteomic experiments builds a global compendium of human multiprotein assemblies</strong>
		Mol Syst Biol (2021)17:e10016https://doi.org/10.15252/msb.202010016
          </a></li>
          <li><strong> plant.MAP: </strong> <a href="https://www.sciencedirect.com/science/article/pii/S0092867420302269" target="blank">
			  Claire D. McWhite, Ophelia Papoulas, Kevin Drew, Rachael M. Cox, Viviana June, Oliver Xiaoou Dong, Taejoon Kwon, Cuihong Wan, Mari L. Salmi, Stanley J. Roux, Jr., Karen S. Browning, Z. Jeffrey Chen, Pamela C. Ronald, Edward M. Marcotte.
		<strong>A Pan-plant Protein Complex Map Reveals Deep Conservation and Novel Assemblies</strong>
		Cell Volume 181, Issue 2, 16 April 2020, Pages 460-474.e14
		https://doi.org/10.1016/j.cell.2020.02.049
          </a></li>
          <li><strong> rna.MAP: </strong> <a href="https://www.cell.com/cell-reports/fulltext/S2211-1247(19)31257-4" target="blank">
	      Anna L. Mallam, Wisath Sae-Lee, Jeffrey M. Schaub, Fan Tu, Anna Battenhouse, Yu Jin Jang, Jonghwan Kim, John B. Wallingford, Ilya J. Finkelstein, Edward M. Marcotte, Kevin Drew 
	      <strong>Systematic Discovery of Endogenous Human Ribonucleoprotein Complexes </strong>
	      Cell Reports 29, 1351–1368, October 29, 2019 
	      doi: 10.1016/j.celrep.2019.09.060
          </a></li>
          <li><strong> hu.MAP: </strong> <a href="http://msb.embopress.org/content/13/6/932" target="blank">
		Kevin Drew, Chanjae Lee, Ryan L Huizar, Fan Tu, Blake Borgeson, Claire D McWhite, Yun Ma, John B Wallingford, Edward M Marcotte
		<strong>Integration of over 9,000 mass spectrometry experiments builds a global map of human protein complexes.</strong>
		Molecular Systems Biology (2017) 13, 932.
		DOI 10.15252/msb.20167490 
          </a></li>
      </ul>


      <h4>Contact</h4>
      &nbsp proteincomplexmap (at) gmail.com
      <br>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../static/js/jquery.min.js"><\/script>')</script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
